@page "/productos/editar/{Id:int}"
@using Paca.Shared.Modelos;
@inject HttpClient http
@inject NavigationManager navegar
<h3>ProductoModificar</h3>
<EditForm Model="elProducto" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="mb-3"
    <label for="txtNombre" class="form-label">Nombre del producto</label>
    <InputText id="txtNombre" class="form-control" @bind-Value="elProducto.Nombre"/>
    <ValidationMessage For="(()=>elProducto.Nombre)"/>
</div>

    <div class="mb-3"
    <label for="txtNombre" class="form-label">Costo del producto</label>
    <InputNumber id="txtNombre" class="form-control" @bind-Value="elProducto.Costo"/>
    <ValidationMessage For="(()=>elProducto.Costo)"/>
</div>

    <div class="mb-3"
    <label for="txtNombre" class="form-label">Cantidad de existencias</label>
    <InputNumber id="txtNombre" class="form-control" @bind-Value="elProducto.CantidadExistencias"/>
    <ValidationMessage For="(()=>elProducto.CantidadExistencias)"/>
</div>
    <button type="submit" class="btn btn-primary">Guardar</button>



</EditForm>
@code {
    [Parameter]
    public int Id { get; set; }
    private Producto elProducto = new Producto();
    protected override async Task OnInitializedAsync()
    {
        elProducto = await http.GetFromJsonAsync<Producto>($"api/productos/{Id}");
    }
    private async void Guardar()
    {
        await http.PutAsJsonAsync($"api/productos/{Id}", elProducto);
        navegar.NavigateTo("/productos");
    }
}
